fastapi==0.116.1
uvicorn==0.35.0
pandas==2.3.2
numpy==2.2.6
pyarrow==21.0.0
scikit-learn==1.7.2
lightgbm==4.6.0
xgboost==3.0.5
shap==0.48.0
onnx==1.19.0
onnxruntime==1.22.1
plotly==6.3.0
streamlit==1.49.1
pyodbc==5.2.0
SQLAlchemy==2.0.43
python-dotenv==1.0.1
